<.form let={f} for={@changeset} action={@action}>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <%= label f, :model %>
  <%= text_input f, :model %>
  <%= error_tag f, :model %>

  <%= label f, :year %>
  <%= number_input f, :year %>
  <%= error_tag f, :year %>

  <%= label f, :is_available %>
  <%= checkbox f, :is_available %>
  <%= error_tag f, :is_available %>

  <div>
    <%= submit "Save" %>
  </div>
</.form>
